django==3.1
bootstrap-admin==0.4.4
remote-pdb==2.1.0
factory-boy==3.1.0
python-environ==0.4.54
psycopg2==2.8.6
loguru==0.5.3
django-extensions==3.0.9
django-debug-toolbar==3.1.1
graphene-django==2.13.0
django-graphql-auth==0.3.14
django-filter==2.4.0
django-cors-headers==3.5.0
